  macro_quotes: macro_quotes {
    compatible = "zmk,behavior-macro";
    label = "macro_quotes";
    #binding-cells = <0>;
    bindings = <&kp SQT>, <&kp SQT>, <&kp LEFT>;
  };
  macro_dquotes: macro_dquotes {
    compatible = "zmk,behavior-macro";
    label = "macro_dquotes";
    #binding-cells = <0>;
    bindings = <&kp DQT>, <&kp DQT>, <&kp LEFT>;
  };
  macro_braces: macro_braces {
    compatible = "zmk,behavior-macro";
    label = "macro_braces";
    #binding-cells = <0>;
    bindings = <&kp LBRC>, <&kp RBRC>, <&kp LEFT>;
  };
  macro_parens: macro_parens {
    compatible = "zmk,behavior-macro";
    label = "macro_parens";
    #binding-cells = <0>;
    bindings = <&kp LPAR>, <&kp RPAR>, <&kp LEFT>;
  };
  macro_brackets: macro_brackets {
    compatible = "zmk,behavior-macro";
    label = "macro_brackets";
    #binding-cells = <0>;
    bindings = <&kp LBKT>, <&kp RBKT>, <&kp LEFT>;
  };
  macro_kinesis: macro_kinesis {
    compatible = "zmk,behavior-macro";
    label = "macro_kinesis";
    #binding-cells = <0>;
    bindings = <&kp LS(K)>, <&kp I>, <&kp N>, <&kp E>, <&kp S>, <&kp I>, <&kp S>;
  };
  _tmux_L: macro_tmux_leader {
    compatible = "zmk,behavior-macro";
    label = "macro_tmux_leader";
    #binding-cells = <0>;
    bindings = <&kp LC(S)>;
  };
  _tmux_NW: macro_tmux_new_window {
    compatible = "zmk,behavior-macro";
    label = "macro_tmux_new_window";
    #binding-cells = <0>;
    bindings = <&kp LC(S)>, <&kp C>;
  };
  _tmux_CW: macro_tmux_close_window {
    compatible = "zmk,behavior-macro";
    label = "macro_tmux_close_window";
    #binding-cells = <0>;
    bindings = <&kp LC(S)>, <&kp AMPS>;
  };
  _tmux_NXT: macro_tmux_next_window {
    compatible = "zmk,behavior-macro";
    label = "macro_tmux_next_window";
    #binding-cells = <0>;
    bindings = <&kp LC(S)>, <&kp N>;
  };
  _tmux_PRV: macro_tmux_prev_window {
    compatible = "zmk,behavior-macro";
    label = "macro_tmux_prev_window";
    #binding-cells = <0>;
    bindings = <&kp LC(S)>, <&kp P>;
  };
  _tmux_RN: macro_tmux_rename_window {
    compatible = "zmk,behavior-macro";
    label = "macro_tmux_rename_window";
    #binding-cells = <0>;
    bindings = <&kp LC(S)>, <&kp COMMA>;
  };
  _tmux_SPLTV: macro_tmux_split_v {
    compatible = "zmk,behavior-macro";
    label = "macro_tmux_split_v";
    #binding-cells = <0>;
    bindings = <&kp LC(S)>, <&kp PRCNT>;
  };
  _tmux_SPLTH: macro_tmux_split_h {
    compatible = "zmk,behavior-macro";
    label = "macro_tmux_split_h";
    #binding-cells = <0>;
    bindings = <&kp LC(S)>, <&kp DQT>;
  };
  _tmux_P_L: macro_tmux_pane_left {
    compatible = "zmk,behavior-macro";
    label = "macro_tmux_pane_left";
    #binding-cells = <0>;
    bindings = <&kp LC(S)>, <&kp H>;
  };
  _tmux_P_D: macro_tmux_pane_down {
    compatible = "zmk,behavior-macro";
    label = "macro_tmux_pane_down";
    #binding-cells = <0>;
    bindings = <&kp LC(S)>, <&kp J>;
  };
  _tmux_P_U: macro_tmux_pane_up {
    compatible = "zmk,behavior-macro";
    label = "macro_tmux_pane_up";
    #binding-cells = <0>;
    bindings = <&kp LC(S)>, <&kp K>;
  };
  _tmux_P_R: macro_tmux_pane_right {
    compatible = "zmk,behavior-macro";
    label = "macro_tmux_pane_right";
    #binding-cells = <0>;
    bindings = <&kp LC(S)>, <&kp L>;
  };
  _nvim_SPLTV: macro_nvim_split_v {
    compatible = "zmk,behavior-macro";
    label = "macro_nvim_split_v";
    #binding-cells = <0>;
    bindings = <&kp SPACE>, <&kp LS(BSLH)>;
  };
  _cmd_alt_n: macro_cmd_alt_n {
    compatible = "zmk,behavior-macro";
    label = "macro_cmd_alt_n";
    #binding-cells = <0>;
    bindings = <&macro_press &kp LGUI>, <&macro_press &kp LALT>, <&macro_tap &kp N>, <&macro_release &kp LALT>, <&macro_release &kp LGUI>;
  };
